body {
	overflow-y: scroll;
}

h1 {
	font-size: 72px;
	line-height: 1;
	margin-bottom: 50px;
	text-align: center;
}

.masthead {
	padding: 50px 0;
}

img.pull-left {
	margin-right: 15px;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: #fff;
    background: rgba(255,255,255,0.8); 
    display: none; }
    .loading img {
        position: fixed;
        left: 50%;
        top: 50%;
    }

.for-recommendation {
    display: none;
}

.container.muted {
    text-align: center;
}

.game-list {
    -webkit-columns: 5;
    -moz-columns: 5;
    -o-columns: 5;
    columns: 5;
    list-style: none;
}
